/*
CSS Handcrafted by:
___  ___        _    _      _             
|  \/  |       | |  | |    (_)            
| .  . |  __ _ | |_ | |__   _   __ _  ___ 
| |\/| | / _` || __|| '_ \ | | / _` |/ __|
| |  | || (_| || |_ | | | || || (_| |\__ \
\_|  |_/ \__,_| \__||_| |_||_| \__,_||___/
                                                         
*/

/* Nukes margins and padding. For everything. Scary. */
* {margin: 0; padding: 0;}
ul{list-style-type: none;}

/* 
Site Colors
#00A19A = sea green
#04BF9D = light green
#F2E85C = yellow
#F53D54 = red
#404040 = black / grey
#ffffff = white */

/* 12-column responsive grid */

.row {
    clear: both;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2em; /* gives the row's decent paddings on smaller screens.*/
}

.row-half {
    clear: both;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 2em; /* gives the row's decent paddings on smaller screens.*/
}

.row-twothirds {
    clear: both;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2em; /* gives the row's decent paddings on smaller screens.*/
}


[class^="col-"] {
    float: left;
    margin: 0 3.84615384615% 0 0;
    list-style: none;
    position: relative;
}

[class^="col-"]:last-child {
    margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }

body{
	background-color:#00A19A;
	font-size: 16px;}

.siteContainer{
	padding: 1em 0;}

/* Typography */
h1, h2, h3{
	font-family: 'Lato', sans-serif;
	color:#ffffff;
}
p, ul{
	font-family: 'Domine', serif;
	color:#ffffff;
}


/* Tagline */
.mainTagLine{
	text-align: center;
	padding:1em 0;}
.mainTagLine h1{font-size: 5em;}
.mainTagLine h2{font-size: 2em;}
.avatarContainer{padding: 1em 0;}
.profilePicture{
	margin:0 auto;
	background-image: url(../image/markup.png);
	width: 190px;
	height: 190px;
	border-radius: 110px;
	border: 5px solid white;
	overflow:hidden;
}

.divide{height:1px;width:400px;
}

/* Main Copy */
.copyContainer{text-align: center;}
.copyContainer p{padding:.5em 0;}

/* List */
section{
	padding:.5em 0;
}

section ul{
	padding:.5em 0;
}

section ul li{
	line-height: 1.3em;
}

/* Social Icons */
.connect{
	text-align: center;}
.social{
	display: block;
	list-style: none;}

.social li{
	display:inline-block;
	padding:1em .5em}
.social li a {
	opacity:1;
	clear:both;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.social li a:hover{
	opacity: .5;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;}


